[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/maplle/Desktop/steam.desktop]
row=6
col=0

[/home/maplle/Desktop/org.prismlauncher.PrismLauncher.desktop]
row=7
col=0

[/home/maplle/Desktop/Assassin's Creed.desktop]
row=8
col=0

[/home/maplle/Desktop/code-oss.desktop]
row=5
col=0

[/home/maplle/Desktop/spotify.desktop]
row=4
col=0

[/home/maplle/Desktop/firefox.desktop]
row=2
col=0

[/home/maplle/Desktop/discord.desktop]
row=3
col=0

[Trash]
row=0
col=0

[/home/maplle]
row=1
col=0

